
/* #goalNumber, #yourNumber, .record {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    height: 200px;
    width: 300px;
}

.record {
    border-color: blue;
    position: absolute;
    margin-top: -200px;
    margin-left: 305px;
} */

#goalNumber, #yourNumber {
    font-size: 100px;
    text-align: center;
}

.record {
    font-size: 40px;
    text-align: center;
}

.crystals {
    text-align: center;
}