#goalNumber, #yourNumber, .record {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    height: 200px;
    width: 300px;
}

.record {
    border-color: blue;
    position: absolute;
    margin-top: -200px;
    margin-left: 305px;
}