
#goalNumber, #yourNumber {
    font-size: 100px;
    text-align: center;
}

.record {
    font-size: 50px;
    height: 173px;
    /* text-align: center; */
}

.crystals {
    text-align: center;
}

.footer { 
    background-color: #2f2f2f;
    height: 60px;
    padding-top: 20px;
    color: #ffffff;
}
